.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.relative{
  position: relative;
}
.middle{
  top:50%;
  transform: translateY(-50%);
}

.top{
  top: 0px;
}
.left{
  left: 0px;
}
.bottom{
  bottom: 0px;
}
.right{
  right: 0px;
}

.about-icon-container{
  margin-top: 80px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.arrow {
  z-index: 10;
  display: flex;
  align-items: center;
  margin: 50px;
  width: 100px;
  height: auto;
}

.arrow-deck {
  display: grid;
  height: 100%;
  width: 20%;
  align-content: space-between;
  justify-content: center;
}

.arrow-back {
  margin-bottom: 15px;
}

.about-icon{
  display: block;
  height: auto;
  width: 48px;
}

@media (max-width: 460px) {
  .arrow{
    margin: 5px;
    width: 50px;
  }
  .arrow-back {
    margin-bottom: 12px;
  }  
  .contact-icon{
    margin-top: 80px;
  }
  .about-icon{
    width: 24px;
    margin: 5px;
  }
  .about-icon-container{
    margin-top: 0px;
    display: grid;
    align-items: space-between;
  
  }
}