.absolute{
  position: absolute;
}
.fixed{
  position: fixed;
}
.relative{
  position: relative;
}
.middle{
  top:50%;
  transform: translateY(-50%);
}

.top{
  top: 15px;
}
.left{
  left: 15px;
}
.bottom{
  bottom: 15px;
}
.right{
  right: 15px;
}

.contact-icon{
  margin-top: 80px;
}

.arrow {
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
}