.absolute{
  position: absolute;
}

.top{
  top: 15px;
}
.left{
  left: 15px;
}
.bottom{
  bottom: 15px;
}
.right{
  right: 15px;
}

.contact-icon{
  margin-top: 80px;
}

.arrow {
  cursor: pointer;
  z-index: 10;
}