.bold {
  font-weight: 700;
}

.large{
  font-size: xx-large;
}

.text-highlight-white {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: background-size 0.5s;
  background-image: linear-gradient(to top, white 85%, transparent 0);
  background-blend-mode: multiply;
}

.app-link {
  font-size: large;
  text-decoration: underline 2px;
  text-underline-offset: 4pt;
  display: block;
  width: 100%;
  color: theme('colors.clear');
  transition: all 0.1s ease-in-out;
}

.app-link-yellow:hover {
  text-underline-offset: -14pt;
  color: theme('colors.yellow');
  transition: all 0.1s ease-in-out;
}

.app-link-red:hover {
  text-underline-offset: -14pt;
  color: theme('colors.red');
  transition: all 0.1s ease-in-out;
}

.name {
  text-align: start;
  font-size: 90pt;
  line-height: 80pt;
  letter-spacing: -7px;
  width: auto;
  float: inline-end;
}

.name h1 {
  font-weight: 600;
}

.name h2 {
  font-weight: 300;
}

.name-container {
  margin-top: 50px;
  margin-left: 50px;
}

.landing-container {
  height: 100%;
  width: 80%;
  display: grid;
  align-content: space-between;
  justify-content: start;
}

.landing {
  color: theme('colors.clear');
  width: auto;
  text-align: start;
  font-size: 36pt;
  line-height: 48px;
  letter-spacing: -5px;
  display: grid;
  margin-left: 50px;
  margin-bottom: 50px;
  font-weight: 300;
}


.landing .main,
.landing .secondary,
.landing .tertiary {
  font-weight: 400;
}

.about-me {
  color: theme('colors.dark');
  display: grid;
  padding-inline: 2.5rem;
}

.about-me-heading{
  text-align: center;
  font-size: 60pt;
  line-height: 54pt;
  letter-spacing: -7px;
  float: inline-end;
  font-weight: 300;
  margin: 30px;
  margin-bottom: 15px;
}

.about-me-p1{
  text-align: start;
  font-size: 22pt;
  line-height: 24pt;
  letter-spacing: -1.5px;
  float: inline-end;
  font-weight: 300;
  margin-right: 15px;
  z-index: 9999;
}

.about-me-p2{
  text-align: end;
  font-size: 20pt;
  line-height: 24pt;
  letter-spacing: -1pt;
  float: inline-start;
  font-weight: 200;
  margin: 10px;
  z-index: 9999;
}

.story-cover{
  justify-content: space-between;
  display: flex;
  align-items: center;
}


.story-body-main{
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -0.6pt;
  text-align: start;
  line-height: 24pt;
  margin-bottom: 3rem;
}

.story-body-bold{
  font-size: 18pt;
  font-weight: 600;
  letter-spacing: -0.2pt;
  text-align: center;
  line-height: 24pt;
}

.story-title-main{
  font-size: 30pt;
  font-weight: 200;
  letter-spacing: -1.5pt;
  line-height: 30pt;
  margin: 50px;
}

.story-title-bold{
  font-weight: 600;
}


.about-list{
  width: max-content;
  height: fit-content;
}

.work-body-container{
  margin-top: 15px;
}

.work{
  font-size: 60pt;
  line-height: 54pt;
  letter-spacing: -7px;
  width: auto;
}

.work h1 {
  font-weight: 600;
}

.work h2 {
  font-weight: 300;
  margin-bottom: 2rem;
}

.work-subtitle {
  font-weight: 700;
  font-size: xx-large;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.work-body{
  font-weight: 200;
  font-size: large;
}

.workPage{
  display:grid;
  position:relative;
  z-index:1;
  justify-items:start;
  margin-inline:15vw;
  margin-top:3rem;
}

.what-i-do-container {
  display:grid;
  grid-template-columns: auto auto;
  justify-content:center;
  align-items: center;
  margin-top: 80px;
  gap: 80px;
  height: fit-content;
}

@media (max-width: 560px) {
  .name-container{
    margin-top: 15px;
    margin-left: 15px;  
  }
  .name {
    font-size: 60pt;
    line-height: 54pt;
    letter-spacing: -6px;
  }
  .work {
    font-size: 50pt;
    line-height: 46pt;
    letter-spacing: -6px;
  }
  .landing {
    font-size: 32pt;
    line-height: 40px;
    letter-spacing: -4.5px;
    display: grid;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-weight: 300;
  }
  .about-me{
    padding-inline: 7vw;
    position: relative;
    z-index: 1;
  }
  .about-me-heading{
    margin: 10vw;
    font-size: 25vw;
    letter-spacing: -2.5vw;
  }
  .about-me-p1{
    font-size: 6vw;
    line-height: 6.5vw;
    margin: 4vw;
  }
  .about-me-p2{
    font-size: 4.2vw;
    line-height: 5vw;
    letter-spacing: -0.5pt;
    margin: 3vw;
  }

  .story-title-main{
    font-size: 24pt;
    letter-spacing: -1.5pt;
    line-height: 24pt;
    margin: 15px;
  }
  .story-body-main{
    font-size: 16pt;
    letter-spacing: -0.2pt;
    text-align: start;
    line-height: 19pt;
  }
  .story-body-bold{
    font-size: 6vw;
    line-height: 6vw;
    text-align: center;
  }
  .workPage{
    margin-inline:5vw;
    margin-top:1rem;
  }
  .about-list {
    display: none;
  }
  .what-i-do-container {
    display: flex;
    margin-top: 0px;
    height: 100%;
    max-height: 244px;
  }
}