.bold {
  font-weight: 700;
}

.large{
  font-size: xx-large;
}

.name {
  text-align: start;
  font-size: 90pt;
  line-height: 80pt;
  letter-spacing: -7px;
  width: min-content;
  float: inline-end;
}

.name h1 {
  font-weight: 600;
}

.name h2 {
  font-weight: 300;
}

.name-container {
  margin-top: 50px;
  margin-left: 50px;
}

.landing-container {
  height: 100%;
  width: 100%;
  display: grid;
  align-content: space-between;
  justify-content: start;
}

.landing {
  color: theme('colors.clear');
  width: auto;
  text-align: start;
  font-size: 36pt;
  line-height: 48px;
  letter-spacing: -5px;
  display: grid;
  margin-left: 50px;
  margin-bottom: 50px;
  font-weight: 300;
}


.landing .main,
.landing .secondary,
.landing .tertiary {
  font-weight: 400;
}

.about-me {
  color: theme('colors.dark');
  display: grid;
  padding-inline: 2.5rem;
}

.about-me-heading{
  text-align: center;
  font-size: 54pt;
  line-height: 54pt;
  letter-spacing: -7px;
  float: inline-end;
  font-weight: 300;
  margin: 30px;
  margin-bottom: 15px;
}

.about-me-p1{
  text-align: start;
  font-size: 22pt;
  line-height: 24pt;
  letter-spacing: -1.5px;
  float: inline-end;
  font-weight: 300;
  margin-right: 15px;


}
.about-me-p2{
  text-align: end;
  font-size: 16pt;
  line-height: 18pt;
  letter-spacing: -1pt;
  float: inline-start;
  font-weight: 200;
  margin: 10px;
}

.story-cover{
  justify-content: space-between;
  display: flex;
  align-items: center;
}


.story-body-main{
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -0.6pt;
  text-align: start;
  line-height: 24pt;
}

.story-body-bold{
  font-size: 20pt;
  font-weight: 600;
  letter-spacing: -0.6pt;
  text-align: start;
  line-height: 24pt;
}

.story-title-main{
  font-size: 30pt;
  font-weight: 200;
  letter-spacing: -1.5pt;
  line-height: 30pt;
}

.story-title-bold{
  font-weight: 600;
}


.about-list{
  width: max-content;
  height: fit-content;
}

.work-body-container{
  margin-top: 15px;
}

.work{
  font-size: 60pt;
  line-height: 54pt;
  letter-spacing: -7px;
  width: min-content;
}

.work h1 {
  font-weight: 600;
}

.work h2 {
  font-weight: 300;
}

.what-i-do-container {
  display:grid;
  justify-content:center;
  margin-top: 80px;
  height: fit-content;
}

@media (max-width: 375px) {
  .name-container{
    margin-top: 15px;
    margin-left: 15px;  
  }
  .name {
    font-size: 60pt;
    line-height: 54pt;
    letter-spacing: -6px;
  }
  .work {
    font-size: 50pt;
    line-height: 46pt;
    letter-spacing: -6px;
  }
  .landing {
    font-size: 32pt;
    line-height: 40px;
    letter-spacing: -4.5px;
    display: grid;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    font-weight: 300;
  }
  .about-me{
    padding-inline: 0.5rem;
  }
  .about-me-heading{
    margin: 10px;
    margin-bottom: 5px;
  }
  .about-me-p1{
    font-size: 18pt;
    line-height: 18pt;
    margin: 10px;
    margin-top: 5px;
  }
  .about-me-p2{
    font-size: 14pt;
    line-height: 14pt;
    letter-spacing: 0pt;
    margin: 10px;
  }
  .story-title-main{
    font-size: 24pt;
    letter-spacing: -1.5pt;
    line-height: 24pt;
  }
  .story-body-main{
    font-size: 16pt;
    letter-spacing: -0.2pt;
    text-align: start;
    line-height: 19pt;
  }
  .story-body-bold{
    font-size: 14pt;
    line-height: 16pt;
    text-align: start;
  }
  .what-i-do-container {
    display:flex;
    justify-content:space-between;
    margin-top: 40px;
    padding-inline: 1rem;
    height: fit-content;
  }
}