.bold {
  font-weight: 700;
}

.name {
  text-align: end;
  font-size: 60pt;
  line-height: 54pt;
  letter-spacing: -7px;
  width: min-content;
  float: inline-end;
}

.name h1 {
  font-weight: 600;
}

.name h2 {
  font-weight: 300;
}

.name-container {
  margin-top: 5px;
  margin-right: 15px;
}

.landing-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: grid;
  align-content: space-between;
  justify-content: end;
}

.landing {
  color: theme('colors.clear');
  width: auto;
  text-align: end;
  font-size: 36pt;
  line-height: 48px;
  letter-spacing: -5px;
  display: grid;
  margin-right: 15px;
  margin-bottom: 15px;
  font-weight: 300;
}


.landing .main,
.landing .secondary,
.landing .tertiary {
  font-weight: 400;
}

.about-me {
  color: theme('colors.clear');
  display: grid;
}

.about-me-heading{
  text-align: end;
  font-size: 54pt;
  line-height: 54pt;
  letter-spacing: -7px;
  float: inline-end;
  margin-top: 5px;
  margin-right: 15px;
  font-weight: 300;
  margin-top: 60px;
}
.about-me-p1{
  text-align: end;
  font-size: 20pt;
  line-height: 22pt;
  letter-spacing: -1.5px;
  float: inline-end;
  margin-top: 5px;
  margin-right: 10px;
  font-weight: 300;
  margin-top: 20px;


}
.about-me-p2{
  text-align: start;
  font-size: 16pt;
  line-height: 18pt;
  letter-spacing: -1pt;
  float: inline-start;
  margin-top: 5px;
  font-weight: 200;
  margin-top: 18px;
}

.story-cover{
  justify-content: space-evenly;
  display: flex;
  margin: 30px;
}


.story-body-main{
  font-size: 20pt;
  font-weight: 300;
  letter-spacing: -0.6pt;
  text-align: start;
  line-height: 24pt;
}

.story-body-bold{
  font-size: 20pt;
  font-weight: 600;
  letter-spacing: -0.6pt;
  text-align: start;
  line-height: 24pt;
}

.story-title-main{
  font-size: 30pt;
  font-weight: 200;
  letter-spacing: -1.5pt;
  line-height: 30pt;
}

.story-title-bold{
  font-weight: 600;
}


.about-list{
  width: max-content;
}

.work-body-container{
  margin-top: 15px;
}

.work{
  font-size: 60pt;
  line-height: 54pt;
  letter-spacing: -7px;
  width: min-content;
}

.work h1 {
  font-weight: 600;
}

.work h2 {
  font-weight: 300;
}

@media (max-width: 360px) {
  .name {
    font-size: 50pt;
    line-height: 46pt;
    letter-spacing: -6px;
  }
  .work {
    font-size: 50pt;
    line-height: 46pt;
    letter-spacing: -6px;
  }
  .landing {
    font-size: 32pt;
    line-height: 40px;
    letter-spacing: -4.5px;
    display: grid;
    margin-right: 15px;
    margin-bottom: 15px;
    font-weight: 300;
    position: absolute;
    right: 0px;
    bottom: 0px;
  }
  .about-me-p1{
    font-size: 18pt;
    line-height: 20pt;
  }
  .about-me-p2{
    font-size: 14pt;
    line-height: 16pt;
    letter-spacing: 0pt;
  }
  .story-title-main{
    font-size: 24pt;
    letter-spacing: -1.5pt;
    line-height: 24pt;
  }
  .story-body-main{
    font-size: 16pt;
    letter-spacing: -0.2pt;
    text-align: start;
    line-height: 19pt;
  }
}