.phone-size{
  width: 200px;
  height: auto;
  margin-block: 7rem;
}

.phone-size-rotate{
  max-height: max-content;
  height: auto;
  width: auto;
}

.content-below{
  margin-top: 100vh;
}

@media (max-width: 460px) {
  .phone-size{
    margin-block: 0rem;
    width: 160px;
  }
}