.phone-size{
  width: 200px;
  height: auto;
  margin-block: 7rem;
}

.phone-size-rotate{
  max-height: max-content;
  height: auto;
  width: auto;
}

.space-between{
  display: grid;
  align-content: space-between;
}

.flex-between{
  display: flex;
  justify-content: space-between;
}

.slide-down{
  transform: translateY(100vh);
  transition: transform 0.5s ease-in-out;
}
.slide-up{
  transform: translateY(-100vh);
  transition: transform 0.5s ease-in-out;
}
.slide-right{
  transform: translateX(100vw);
  transition: transform 0.5s ease-in-out;
}
.slide-left{
  transform: translateX(-100vw);
  transition: transform 0.5s ease-in-out;
}

.opacity-out{
  opacity: 0%;
  transition: opacity 1s ease-in-out;
}

@media (max-width: 460px) {
  .phone-size{
    margin-block: 0rem;
    width: 160px;
  }
}