.phone-size{
  max-width: 285px;
  height: auto;
}

.phone-size-rotate{
  max-height: max-content;
  height: auto;
  width: auto;
}

.wireframe-grid{
  column-count: 4;
  z-index:10
}
.space-between{
  display: grid;
  align-content: space-between;
}
.flex-between{
  display: flex;
  justify-content: space-between;
}
.flex-center{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.grid-scroll{
  display: grid;
  scroll-snap-type: y mandatory;
}
.window-snap{
  scroll-snap-align: center;
}

.slide-down{
  transform: translateY(100vh);
  transition: transform 0.5s ease-in-out;
}
.slide-up{
  transform: translateY(-100vh);
  transition: transform 0.5s ease-in-out;
}
.slide-right{
  transform: translateX(100vw);
  transition: transform 0.5s ease-in-out;
}
.slide-left{
  transform: translateX(-100vw);
  transition: transform 0.5s ease-in-out;
}

.opacity-out{
  opacity: 0%;
  transition: opacity 1s ease-in-out;
}

.wave-opacity{
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 3s;
  animation-name: waveOpacity;
  animation-delay: 1s;
  opacity: 1;
}

@keyframes waveOpacity {
  20% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  55% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}

@media (max-width: 460px) {
  .phone-size{
    max-width: 200px;
  }
}

@media (max-width: 800px) {
  .wireframe-grid{
    column-count: 2;
  }
}